body {
    background-color: #212121;
}

.Jogo img {
    width: 256px;
    border-radius: 15px;
}

.Jogo p {
    font-family: 'Roboto', sans-serif;
    color: #eeeeee;
    font-weight: 700;
    font-size: xx-large;
    margin: 0px;
    text-align: center;
}

.Jogo {
    vertical-align: top;
    display: inline-block;
    width: 256px;
    margin-right: 5px;
}